@charset "EUC-KR";

#header {
	    background-color: #fff;
	    height: auto;
	    position: relative;
	    width: 100%;
	    font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,"\B9D1\C740 \ACE0\B515",Roboto,Helvetica,Arial,sans-serif;
	}
	
	.headerTop{
	    width: 100%;
	    height: 80px;
	    margin-bottom: 100pt;
	    
	}

	.headerTop_left{
		justify-content: flex-start;
	    margin-top: 20px;
	    display:inline;
	    position: relative;
	}
	.menu{
		width: 100%;
    	border-bottom: 1px solid #dee2e6;
    	margin-top:20pt;
	}
	.headerTop_right{
		font-size: 30px;
		display:inline;
		position:absolute;
    	left: 1150px;
    	top: 50px;
	}
	
	.headerTop_right_membership{
		padding: 15px 32px;
	    border: 1px solid #a7d4f9;
	    font-size: 25px;
	    font-weight: 700;
	    color: #2b96ed;
	    transition: background-color .15s ease;
	    line-height: 40px; 
	    display:inline;
	    color: blue;
	}
	
	li {
		display: inline;
		margin-left: 40px;
		font-size: 20px;
		list-style: none;
	}
	
	#logo{
		margin-left : 80px;
	}
	
	a, a:active, a:hover, a:link, a:visited {
    	text-decoration: none;
    	cursor: pointer;
    	color: black;
	}